numpy
pandas
scikit-learn
matplotlib
seaborn
jupyterlab
notebook
opencv-python-headless
pillow
flask
fastapi
uvicorn
requests
torch==2.0.1+cpu
torchvision==0.15.2+cpu
torchaudio==2.0.2+cpu -f https://download.pytorch.org/whl/torch_stable.html
tensorflow-cpu==2.13.0